/* basic reset */

:root{
    --font-family: arial, sans-serif;
    --black-color: #000;
    --white-color: #fff;
    --background-color: #FACFCE;
    --primary-color:#23606E;
    --secondary-color: #023535;
    --font-oswald: 'Oswald', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    font-family: var(--font-oswald);
    background: var(--background-color);
}

main{
    width: 1200px;
    margin:0 auto;
}

main > section {
    margin-bottom: 20px;
}

main > section:first-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;
}

h1{
    color: var(--secondary-color);
    font-family: var(--font-oswald);
    font-size: 62px;
    margin-top: 0;
}

button{
    border-radius: 3px;
    color: var(--white-color);
    border: 0;
    padding: 15px;
    margin-top: 40px;
    background-color: var(--primary-color);
    font-size: 1.2rem;
}

section h2 {
    font-size: 42px;
    font-family: var(--font-oswald);
    margin: 40px 0 10px;
}

section p{
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 10px;
}

.about-container a{
    font-size: 1.2rem;
    color: var(--primary-color);
    padding:0 10px;
}

section.experience-container > div {
    padding: 10px;
    border-radius: 5px;
    border:2px solid var(--black-color);;
    display: inline-block;
    margin:10px;
    color:var(--white-color);
    background-color: var(--primary-color);
}

section.experience-container > div  p {
    font-size:1rem;
}

.portfolio-container > div{
    display: inline-block;
    margin:10px;
}

.social-media > a:first-child{
    padding-left:0;
}

section.contact-container{
    background:var(--primary-color);
}

section.contact-container h2{
    text-align: center;
    color:var(--white-color);
}

section.contact-container form{
   width: 500px;
   margin: 10px auto;
   padding: 20px 0;
   border-radius: 10px;
   color:var(--white-color)
}

section.contact-container button{
    background-color: var(--background-color);
    color:#000;
    width: 100%;
    margin-top:10px;
}

input[type=text],
input[type=email]{
    height: 40px;
}

textarea{
    height: 100px;
}

input[type=text],
input[type=email],
textarea{
    border:1px solid var(--white-color);
    display: block;
    margin-bottom:10px; 
    width: 500px;
    border-radius:2px;
    padding:2px;
}

footer {
    text-align: center;
    color:var(--secondary-color);
}
